.dialog-content {
    position: absolute;
    background-color: #0f0f0f;
    color: #a5a5a5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.dialog-title {
    font-weight: bold;
    margin-top: 103px;
    margin-left: 22px;
    margin-bottom: 16px;
}

.dialog-caption {
    margin-left: 22px;
    margin-bottom: 23px;
}

.textfield {
    color: #a5a5a5;
}