.editRoadmap {
  padding-bottom: 200px;
}

.nav {
  background-color: var(--cimicine-main);
  color: white;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 20;
}
.nav > h1 {
  font-size: 20px;
  margin-left: 32px;
}
.edit {
  position: relative;
}
.edgePoint {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 24px;
  padding: 16px 24px;
  border: 1px solid #707070;
  border-radius: 2px;

  background-color: white;
}
.edgePoint > p {
  font-weight: bold;
}
.begin {
  margin-top: 32px;
}
.finish {
  margin: 0 24px;
  bottom: 0;
  background-color: white;
  position: relative;
  z-index: 5;
}

.border {
  border-left: 3px solid black;
  opacity: 0.54;
  height: calc(100% - 58px);

  position: absolute;
  left: 56px;
}
