.nav {
  background-color: var(--cimicine-main);
  color: white;
  display: flex;
  align-items: center;
}
.nav > h1 {
  font-size: 20px;
  margin-left: 32px;
}
.edit {
  display: relative;
}
.edgePoint {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 24px;
  padding: 16px 24px;
  border: 1px solid #707070;
  border-radius: 2px;

  background-color: white;
}
.begin {
  margin-top: 32px;
}
.finish {
  margin: 70vh 24px 32px;
  position: sticky;
  bottom: 0;
}
p {
  font-weight: bold;
}
.border {
  border-left: 3px solid black;
  opacity: 0.54;
  min-height: 70vh;

  position: absolute;
  left: 56px;
}
.step {
  display: flex;
  justify-content: left;
  align-items: center;

  margin: 24px 0 24px 40px;
  padding: 0px 0;

  background-color: white;
}
.step > p {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
}
