.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logoAndTitle {
  cursor: hand;
  cursor: pointer;
}
.MuiIconButton-root {
  margin: 4px !important;
}

.header .logo {
  color: var(--cimicine-main);
  width: 48px;
  margin-right: 3px;
}

.header .title {
  display: inline-block;
  font-family: HiraKakuProN-W3;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.72;
  color: #707070;
}

.menuIcon,
.header .logo,
.header .title,
.userIcon {
  vertical-align: middle;
}

.header__menu {
  background-color: white;
  width: 60vw;
  max-width: 350px;
}

.header__menu .logo {
  color: var(--cimicine-main);
  width: 60%;
  max-width: 300px;
  display: block;
  margin: 14px auto 0;
}

.createButton {
  margin-left: auto;
  margin-right: auto;
  margin-top:35px;
  width: 40%;
  max-width: 330px;
}

.createMapsIcon {
  vertical-align: middle;
  margin-right: 3px;
}

.buttonContent {
  width: 100%;
}

.partition {
  width: 90%;
  margin: 40px auto;
}

.hotMaps,
.searchMaps {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.hotMapsIcon,
.searchMapsIcon {
  vertical-align: middle;
  margin-right: 5px;
}
