.step {
  display: flex;
  justify-content: left;
  align-items: unset;
  margin: 30px 24px 30px 16px;
  padding: 0px 0;

  background-color: white;

  max-width: 800px;
}
.step:hover .step__addIcon {
  opacity: 0.5;
}
.step__addIcon {
  opacity: 0;
  cursor: pointer;
  height: 24px;
}
.step__addIcon:hover {
  background-color: lightgray;
}

.step__accordion {
  margin-left: 16px;
  flex-grow: 1;
}
.step__title {
  font-size: 18px;
}
.step__captionInput {
  font-size: 14px;
  color: #191919;
  font-weight: normal;

  outline: none;
  border: none;

  padding: unset;
  margin: unset;

  resize: none;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 8px 0 !important;
}
.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}
.step__accordion .Mui-focusVisible {
  background-color: unset !important;
}
.step__titleInput {
  outline: none;
  border: none;
  width: 100%;

  font-size: 18px;
}
.step__titleInput:disabled {
  background-color: unset;
  cursor: pointer;
}

.step__bookmarkItem {
  border: 1px solid gray;
  border-radius: 2px;
  opacity: 0.5;

  padding: 8px;
  margin: 4px 0;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: black;
}
.step__bookmarkItem:hover {
  opacity: 1;
}

.step__bookmarkIcon {
  width: 32px;
  object-fit: contain;
  margin-right: 16px;
}
.step__bookmarkUrl {
}
.step__urlForm {
  display: flex;
  flex-direction: column;
}
.step__urlInput {
  margin-top: 10px;
  outline: none;
  padding: 8px;
  border: 1px solid lightgray;

  /* opacity: 0.2; */
  border-radius: 6px;
}
.step__urlSubmit {
  background-color: var(--cimicine-main);
  color: white;
  border: none;
  outline: none;

  margin-top: 8px;
  padding: 6px;
  border-radius: 6px;

  font-weight: bold;
  opacity: 0.9;
  cursor: pointer;
}
.step__urlSubmit:hover {
  opacity: 1;
}
@media screen and (min-width: 700px) {
  .step__urlForm {
    flex-direction: row;
  }
  .step__urlSubmit {
    flex-grow: 160px;
    margin-left: 16px;
  }
  .step__urlInput {
    flex: 1;
  }
}
